<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
<title>RevHost</title>
</head>

<body>

	<h2>RevHost File Hosting</h2>

	<hr>
	<div sec:authorize="isAuthenticated()">
		<div sec:authentication="name"></div>
		Authenticated user roles:
		<div sec:authentication="principal.authorities"></div>
		<hr>
		<form th:action="@{/storage/files}" method="GET">
			<input type="submit" value="Files" />
		</form>

		<br>
		<form th:action="@{/storage/upload}" method="GET">
			<input type="submit" value="Upload" />
		</form>

		<hr>
		<form th:action="@{/signout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<div sec:authorize="isAnonymous()">
		<form th:action="@{/signin}" method="GET">
			<input type="submit" value="Login" />
		</form>
		<br>
		<form th:action="@{/signup}" method="GET">
			<input type="submit" value="Sign up" />
		</form>
	</div>

	Click <a th:href="@{/connect/}">here</a> to see your social Network connection
</body>

</html>