<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
<title>RevHost</title>
</head>

<style>
	.message{
		color: orange;
	}
</style>
<body>

	<h2>RevHost File Hosting</h2>
	<hr>

	<div sec:authorize="isAuthenticated()">
		Username:
		<div sec:authentication="name">username</div>

		<p><a th:href="@{/user/profile}">Profile</a></p>

		<p th:text="${message}" class="message">Some message</p>
		<hr>

		<p><a th:href="@{/storage/files}">Files</a></p>

		<p><a th:href="@{/storage/upload}">Upload File</a></p>

		<p><a href="@{/user/profileSettings}"></a></p>

		<hr>
		<form th:action="@{/signout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<div sec:authorize="isAnonymous()">
		<p th:text="${message}" class="message">Some message</p>

		<p><a th:href="@{/signin}">Sign in</a></p>

		<p><a th:href="@{/signup}">Sign up</a></p>

		<p><a th:href="@{/auth/twitter}">Sign in with Twitter</a></p>

		<p><a th:href="@{/auth/facebook}">Sign in with Facebook</a></p>
	</div>

</body>

</html>