<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Register</title> 

<style>
	.error { color: red; }
</style>
</head>

<body>

	<h1>Sign up to RevHost</h1>

	<p th:if="${usernameTaken}" class="error">Username is already taken</p>

	<form th:action="@{/signup}" method="POST"
		th:object="${signupForm}">

		<p>
			Username: <input type="text" th:field="*{username}"
				autofocus="autofocus" />
			<span th:if="${#fields.hasErrors('username')}" class="error">Username must not be empty</span>
		</p>
		<p>
			Password: <input type="password" th:field="*{password}" />
			<span th:if="${#fields.hasErrors('password')}" class="error">Password must not be empty</span>
		</p>
		<input type="submit" value="Sign up" />
	</form>

	<br>
	<form th:action="@{/}" method="get">
		<input type="submit" value="Back to Home Page" />
	</form>


</body>

</html>