<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
<style>
input{width: 400px}
</style>

</head>

<body>

	<h2>RevHost File Hosting</h2>
	<hr>
	<h2 th:text="${video.title}"></h2>
	
	<a th:href="@{/}">Back to public files</a>
	
	<hr>
		
	<video width="600" height="375" controls>
	  	<source th:src="${video.url}" type="video/mp4">
	</video>
	<br>
	Share:
	<br>
	<input type="text" th:value="${video.shortUrl}" />
	

	<br>

	<hr>
	<a th:href="@{/}">Back to home page</a>
	
</body>

</html>