<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>Spring Social - Connections</h3>

    <span th:if="${social_provider_error}">Provider error (maybe you need to configure the app id and secret?)</span>
    <th:block th:each="provider : ${providerIds}">
        <h4 th:text="${provider}">Provider</h4>


            <!--<span th:text="${connectionMap[provider][0].displayName}"></span>-->
        <!--<a th:href="@{/connect/{provider}}">click</a>-->

    </th:block>
</body>
</html>